.search-card {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    background-color: white;
    width: 100%; 
    display: block;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
}

.search-content {
    color: #333333; 
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

/* ลบเส้นใต้ของ Link และจัดการสี */
.search-link {
    text-decoration: none;
    display: block;
    width: 100%;
}