.add-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.add-part-button {
    display: flex;
    justify-content: center;
    height: auto;
}

.parts-name-input {
    text-transform: uppercase;
}