/* ===== PAGE ===== */
.machine-screen {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 40px;
}

.back-btn {
  display: inline-block;
  margin: 20px 0 0 20px;
  /* Add margin to separate from edge/navbar */
  z-index: 100;
  padding: 8px 16px;
  background-color: #e9ecef;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.back-btn:hover {
  background-color: #dee2e6;
  color: #000;
  transform: translateX(-3px);
}

/* ===== WRAPPER ===== */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ===== CANVAS ===== */
/* MUST match original image width */
.form-canvas {
  position: relative;
  width: auto;
  max-width: 1000px;
}

/* ===== IMAGE ===== */
.reference-image {
  width: auto;
  max-width: 1000px;
  display: block;
  border: 3px solid #777;
}

/* iPad Pro */
@media (max-width: 1024px) {
  .form-canvas {
    zoom: 0.8;
  }
}

/* iPad Air */
@media (max-width: 834px) {
  .form-canvas {
    zoom: 0.72;
  }
}

/* iPad Mini */
@media (max-width: 768px) {
  .form-canvas {
    zoom: 0.65;
  }
}

.machine-title {
  text-align: center;
}

.save-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  z-index: 10;
}

.save-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.form-input {
  position: absolute;
  background: red ;
  text-align: center;
  font-size: 14px;
  height: 2%;
  outline: none;
  border: none;
  box-shadow: none;
}

.form-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}


#date-input {
  width: 17.8%;
  top: 12%;
  left: 12.3%;
}

#machine-number-input {
  width: 19%;
  top: 12%;
  left: 36%;
}

#shift-input {
  width: 6%;
  top: 12%;
  left: 60.8%;
}

#part-name-input {
  width: 24.4%;
  top: 12%;
  left: 72.6%;
}

#part-number-input {
  width: 17%;
  top: 1%;
  left: 14.7%;
}