/* ===== PAGE ===== */
.machine-screen {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 40px;
}

.back-btn {
  display: inline-block;
  margin: 20px 0 0 20px;
  /* Add margin to separate from edge/navbar */
  z-index: 100;
  padding: 8px 16px;
  background-color: #e9ecef;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.back-btn:hover {
  background-color: #dee2e6;
  color: #000;
  transform: translateX(-3px);
}

/* ===== WRAPPER ===== */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ===== CANVAS ===== */
/* MUST match original image width */
.form-canvas {
  position: relative;
  width: auto;
  max-width: 1000px;
}

/* ===== IMAGE ===== */
.reference-image {
  width: auto;
  max-width: 1000px;
  display: block;
  border: 3px solid #777;
}

/* iPad Pro */
@media (max-width: 1024px) {
  .form-canvas {
    zoom: 0.8;
  }
}

/* iPad Air */
@media (max-width: 834px) {
  .form-canvas {
    zoom: 0.72;
  }
}

/* iPad Mini */
@media (max-width: 768px) {
  .form-canvas {
    zoom: 0.65;
  }
}

.machine-title {
  text-align: center;
}

.form-input {
  position: absolute;
  background: transparent;
  text-align: center;
  font-size: 14px;
  height: 2%;
  outline: none;
  border: none;
  box-shadow: none;
}

.form-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}


#date-input {
  width: 17%;
  top: 8.0%;
  left: 14.7%;
}

#machine-number-input {
  width: 22.7%;
  top: 8.0%;
  left: 37.7%;
}

#shift-input {
  width: 11.7%;
  top: 8.1%;
  left: 66.4%;
}

#part-name-input {
  width: 13.1%;
  top: 8.1%;
  left: 83.9%;
}

#part-number-input {
  width: 17%;
  top: 10.0%;
  left: 14.7%;
}