/* ===== PAGE ===== */
.machine-screen {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 40px;
}

/* ===== WRAPPER ===== */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ===== CANVAS ===== */
/* MUST match original image width */
.form-canvas {
  position: relative;
  width: 1000px;
}

/* ===== IMAGE ===== */
.reference-image {
  width: 100%;
  display: block;
  border: 3px solid #777;
}

/* iPad Pro */
@media (max-width: 1024px) {
  .form-canvas {
    zoom: 0.8;
  }
}

/* iPad Air */
@media (max-width: 834px) {
  .form-canvas {
    zoom: 0.72;
  }
}

/* iPad Mini */
@media (max-width: 768px) {
  .form-canvas {
    zoom: 0.65;
  }
}

