/* ===== PAGE ===== */
.machine-screen {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 40px;
}

/* ===== WRAPPER ===== */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ===== CANVAS ===== */
/* MUST match original image width */
.form-canvas {
  position: relative;
  width: auto;
  max-width: 1000px;
}

/* ===== IMAGE ===== */
.reference-image {
  width: auto;
  max-width: 1000px;
  display: block;
  border: 3px solid #777;
}

/* iPad Pro */
@media (max-width: 1024px) {
  .form-canvas {
    zoom: 0.8;
  }
}

/* iPad Air */
@media (max-width: 834px) {
  .form-canvas {
    zoom: 0.72;
  }
}

/* iPad Mini */
@media (max-width: 768px) {
  .form-canvas {
    zoom: 0.65;
  }
}

.long-input {
  position: absolute;
  /* border: 2px solid #666; */
  background: transparent;
  text-align: center;
  font-size: 14px;
  outline: none;
  border: none;
  box-shadow: none;
}

.long-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.short-input {

}

#date-input {
  width: 17%;
  height: 2%;
  top: 7.9%;
  left: 14.7%;
}

#machine-number-input {
  width: 22.6%;
  height: 2%;
  top: 7.9%;
  left: 37.7%;
}

