/* ===== PAGE ===== */
.machine-screen {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 40px;
}

.back-btn {
  display: inline-block;
  margin: 20px 0 0 20px;
  /* Add margin to separate from edge/navbar */
  z-index: 100;
  padding: 8px 16px;
  background-color: #e9ecef;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.back-btn:hover {
  background-color: #dee2e6;
  color: #000;
  transform: translateX(-3px);
}

/* ===== WRAPPER ===== */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ===== CANVAS ===== */
/* MUST match original image width */
.form-canvas {
  position: relative;
  width: auto;
  max-width: 1000px;
}

/* ===== IMAGE ===== */
.reference-image {
  width: auto;
  max-width: 1000px;
  display: block;
  border: 3px solid #777;
}

/* iPad Pro */
@media (max-width: 1024px) {
  .form-canvas {
    zoom: 0.8;
  }
}

/* iPad Air */
@media (max-width: 834px) {
  .form-canvas {
    zoom: 0.72;
  }
}

/* iPad Mini */
@media (max-width: 768px) {
  .form-canvas {
    zoom: 0.65;
  }
}

.machine-title {
  text-align: center;
}

.save-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  z-index: 10;
}

.save-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.form-input {
  position: absolute;
  background: none;
  text-align: center;
  font-size: px;
  height: 1.9%;
  outline: none;
  border: none;
  box-shadow: none;
}

.form-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#date-input {
  width: 17.8%;
  top: 12%;
  left: 12.3%;
  font-size: 10px;
}

#machine-number-input {
  width: 19%;
  top: 12%;
  left: 36%;
}

#shift-input {
  width: 6%;
  top: 12%;
  left: 60.8%;
}

#part-name-input {
  width: 24.4%;
  top: 12%;
  left: 72.6%;
}

#part-number-input {
  width: 17.8%;
  top: 14%;
  left: 12.3%;
}

#material-input {
  width: 19%;
  top: 14%;
  left: 36%;
}

#temperature-input {
  width: 6%;
  top: 14%;
  left: 60.8%;
}

#color-input {
  width: 24.4%;
  top: 14%;
  left: 72.6%;
}

#hv-limit-input {
  width: 6%;
  top: 19.9%;
  left: 18.3%;
}

#time-4th-input {
  width: 6%;
  top: 25.8%;
  left: 12.3%;
}

#time-3rd-input {
  width: 5.8%;
  top: 25.8%;
  left: 18.4%;
}

#time-2nd-input {
  width: 5.8%;
  top: 25.8%;
  left: 24.3%;
}

#time-1st-input {
  width: 5.8%;
  top: 25.8%;
  left: 30.2%;
}

#press-4th-input {
  width: 6%;
  top: 27.8%;
  left: 12.3%;
}

#press-3rd-input {
  width: 5.8%;
  top: 27.8%;
  left: 18.4%;
}

#press-2nd-input {
  width: 5.8%;
  top: 27.8%;
  left: 24.3%;
}

#press-1st-input {
  width: 5.8%;
  top: 27.8%;
  left: 30.2%;
}

#ret-vel-input {
  width: 6%;
  top: 29.8%;
  left: 12.3%;
}

#zero-set-input {
  width: 6%;
  top: 21.9%;
  left: 42%;
}

#mode-input {
  width: 6%;
  top: 25.8%;
  left: 42%;
}

#flash-input {
  width: 6%;
  top: 29.8%;
  left: 42%;
}

#flow-check-input {
  width: 11.8%;
  top: 21.9%;
  left: 55%;
}

#fill-t-limit-input {
  width: 11.8%;
  top: 21.9%;
  left: 66.8%;
}

#stage-input {
  width: 6%;
  top: 21.9%;
  left: 78.6%;
}

#pos-vp-input {
  width: 5.8%;
  top: 25.8%;
  left: 55%;
}

#pos-4th-input {
  width: 5.8%;
  top: 25.8%;
  left: 60.9%;
}

#pos-3rd-input {
  width: 5.8%;
  top: 25.8%;
  left: 66.8%;
}

#pos-2nd-input {
  width: 5.8%;
  top: 25.8%;
  left: 72.7%;
}

#pos-1st-input {
  width: 6%;
  top: 25.8%;
  left: 78.6%;
}

#vel-vp-input {
  width: 5.8%;
  top: 27.8%;
  left: 55%;
}

#vel-4th-input {
  width: 5.8%;
  top: 27.8%;
  left: 60.9%;
}

#vel-3rd-input {
  width: 5.8%;
  top: 27.8%;
  left: 66.8%;
}

#vel-2nd-input {
  width: 5.8%;
  top: 27.8%;
  left: 72.7%;
}

#vel-1st-input {
  width: 6%;
  top: 27.8%;
  left: 78.6%;
}

#fill-press-input {
  width: 29.6%;
  top: 29.8%;
  left: 55%;
}

#dose-delay-input {
  width: 12%;
  top: 35.6%;
  left: 6.3%;
}

#cool-time-input {
  width: 12%;
  top: 39.6%;
  left: 6.3%;
}

#interval-time-input {
  width: 12%;
  top: 43.5%;
  left: 6.3%;
}

#pull-back-pos-input {
  width: 5.8%;
  top: 39.6%;
  left: 30.2%;
}

#pull-back-vel-input {
  width: 5.8%;
  top: 41.55%;
  left: 30.2%;
}

#clamp-f-input {
  width: 5.8%;
  top: 35.65%;
  left: 55%;
}

#dose-pos-1st-input {
  width: 5.8%;
  top: 39.6%;
  left: 55%;
}

#dose-pos-2nd-input {
  width: 5.8%;
  top: 39.6%;
  left: 60.9%;
}

#dose-pos-end-input {
  width: 5.8%;
  top: 39.6%;
  left: 66.8%;
}

#dose-bp-1st-input {
  width: 5.8%;
  top: 41.55%;
  left: 55%;
}

#dose-bp-2nd-input {
  width: 5.8%;
  top: 41.55%;
  left: 60.9%;
}

#dose-bp-end-input {
  width: 5.8%;
  top: 41.55%;
  left: 66.8%;
}

#dose-rot-1st-input {
  width: 5.8%;
  top: 43.5%;
  left: 55%;
}

#dose-rot-2nd-input {
  width: 5.8%;
  top: 43.5%;
  left: 60.9%;
}

#dose-rot-end-input {
  width: 5.8%;
  top: 43.5%;
  left: 66.8%;
}

#dose-pull-back-1st-input {
  width: 6.1%;
  top: 39.6%;
  left: 84.7%;
}

#dose-pull-back-2nd-input {
  width: 6.1%;
  top: 41.55%;
  left: 84.7%;
}

#dose-pull-back-delay-input {
  width: 6.1%;
  top: 43.5%;
  left: 84.7%;
}

#open-pos-limit-input {
  width: 6%;
  top: 53.3%;
  left: 12.3%;
}

#open-pos-2nd-input {
  width: 5.8%;
  top: 53.3%;
  left: 18.4%;
}

#open-pos-1st-input {
  width: 5.8%;
  top: 53.3%;
  left: 24.3%;
}

#open-vel-limit-input {
  width: 6%;
  top: 55.3%;
  left: 12.3%;
}

#open-vel-2nd-input {
  width: 5.8%;
  top: 55.3%;
  left: 18.4%;
}

#open-vel-1st-input {
  width: 5.8%;
  top: 55.3%;
  left: 24.3%;
}

#close-pos-limit-input {
  width: 6%;
  top: 53.3%;
  left: 42%;
}

#close-pos-2nd-input {
  width: 6.8%;
  top: 53.3%;
  left: 48.1%;
}

#close-pos-1st-input {
  width: 5.8%;
  top: 53.3%;
  left: 55%;
}

#close-vel-limit-input {
  width: 6%;
  top: 55.3%;
  left: 42%;
}

#close-vel-2nd-input {
  width: 6.8%;
  top: 55.3%;
  left: 48.1%;
}

#close-vel-1st-input {
  width: 5.8%;
  top: 55.3%;
  left: 55%;
}

#lw-clamp-pos-input {
  width: 6%;
  top: 53.3%;
  left: 72.6%;
}

#lw-clamp-press-input {
  width: 6%;
  top: 55.3%;
  left: 72.6%;
}

#select-stage-input {
  width: 6.1%;
  top: 53.3%;
  left: 84.7%;
}

#ejector-mode-input {
  width: 6%;
  top: 63.15%;
  left: 6.2%;
}

#ejector-count-input {
  width: 6%;
  top: 67.1%;
  left: 6.2%;
}

#ejector-delay-input {
  width: 6%;
  top: 71%;
  left: 6.2%;
}

#ejector-interval-input {
  width: 6%;
  top: 63.15%;
  left: 18.3%;
}

#ejector-ret-1st-input {
  width: 6%;
  top: 65.1%;
  left: 30.1%;
}

#ejector-ret-2nd-input {
  width: 6%;
  top: 67.05%;
  left: 30.1%;
}

#ejector-ret-3rd-input {
  width: 6%;
  top: 69%;
  left: 30.1%;
}

#ejector-pos-1st-input {
  width: 6.9%;
  top: 65.1%;
  left: 48%;
}

#ejector-pos-eject-input {
  width: 5.8%;
  top: 65.1%;
  left: 55%;
}

#ejector-vel-1st-input {
  width: 6.9%;
  top: 67.05%;
  left: 48%;
}

#ejector-vel-eject-input {
  width: 5.8%;
  top: 67.05%;
  left: 55%;
}

#ejector-press-input {
  width: 12.8%;
  top: 69.1%;
  left: 48%;
}

#ejector-start-input {
  width: 11.7%;
  top: 61.16%;
  left: 66.8%;
}

#ejector-start-pos-input {
  width: 6%;
  top: 61.16%;
  left: 84.8%;
}

#ejector-hold-input {
  width: 6%;
  top: 65.1%;
  left: 78.5%;
}

#eject-hold-input {
  width: 6%;
  top: 67.1%;
  left: 78.6%;
}

#hold-retract-input {
  width: 6%;
  top: 69.1%;
  left: 78.6%;
}

#re-eject-hold-input {
  width: 6%;
  top: 71.05%;
  left: 78.6%;
}

#molding-z5-input {
  width: 5.9%;
  top: 80.85%;
  left: 18.3%;
}

#molding-z4-input {
  width: 5.8%;
  top: 80.85%;
  left: 24.3%;
}

#molding-z3-input {
  width: 5.8%;
  top: 80.85%;
  left: 30.2%;
}

#molding-z2-input {
  width: 5.8%;
  top: 80.85%;
  left: 36.1%;
}

#molding-z1-input {
  width: 6%;
  top: 80.85%;
  left: 42%;
}

#purge-z5-input {
  width: 5.9%;
  top: 82.8%;
  left: 18.3%;
}

#purge-z4-input {
  width: 5.8%;
  top: 82.8%;
  left: 24.3%;
}

#purge-z3-input {
  width: 5.8%;
  top: 82.8%;
  left: 30.2%;
}

#purge-z2-input {
  width: 5.8%;
  top: 82.8%;
  left: 36.1%;
}

#purge-z1-input {
  width: 6%;
  top: 82.8%;
  left: 42%;
}

#lowered-z2-input {
  width: 23.6%;
  top: 84.8%;
  left: 18.3%;
}

#lowered-z1-input {
  width: 6%;
  top: 84.8%;
  left: 42%;
}

#range-z5-input {
  width: 5.9%;
  top: 86.75%;
  left: 18.3%;
}

#range-z4-input {
  width: 5.8%;
  top: 86.75%;
  left: 24.3%;
}

#range-z3-input {
  width: 5.8%;
  top: 86.75%;
  left: 30.2%;
}

#range-z2-input {
  width: 5.8%;
  top: 86.75%;
  left: 36.1%;
}

#range-z1-input {
  width: 6%;
  top: 86.75%;
  left: 42%;
}

#on-off-z5-input {
  width: 5.9%;
  top: 88.7%;
  left: 18.3%;
}

#on-off-z4-input {
  width: 5.8%;
  top: 88.7%;
  left: 24.3%;
}

#on-off-z3-input {
  width: 5.8%;
  top: 88.7%;
  left: 30.2%;
}

#on-off-z2-input {
  width: 5.8%;
  top: 88.7%;
  left: 36.1%;
}

#on-off-z1-input {
  width: 6%;
  top: 88.7%;
  left: 42%;
}

#water-1st-input {
  width: 5.8%;
  top: 80.85%;
  left: 55%;
}

#water-2nd-input {
  width: 5.8%;
  top: 86.75%;
  left: 55%;
}

#water-3rd-input {
  width: 5.8%;
  top: 88.7%;
  left: 55%;
}

